@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.nav{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 20px 30px;
}

.navicon{
    display: flex;
    gap: 20px;
    position: relative;
    padding-right: 50px;
}

.navicon-1{
    width: 24px;
    height: 24px;
    position: relative;
}

.navicon-1::before{
    content: attr(aria-label);
    display: block;
    opacity: 0;
    color: white;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    width: 120px;
    position: absolute;
    top: 35px;
    left: -40px;
    white-space: nowrap; /*글자 줄바꿈 방지*/
}

.navicon-1::after{
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -5px;
    left: -5px;
    opacity: 0;
    transition: all 0.3s;
}

.navicon-1:hover::before{
    opacity: 1;
    visibility: visible;
}

.navicon-1:hover::after{
    opacity: 0.4;
}

.navicon-2{
    background-color: green;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    top:-4px;
    left: 87px;
    font-size: 20px;
    color: white;
    text-align: center;

}

.navicon-2 p{
    position: absolute;
    top: 2px;
    left: 11px;
}